


.img-women {
    display: flex;
    justify-content: flex-end;
}

.texto-header{
    font-family: 'Roboto';
    top: 10px;
}

.img-calc {
    width: 50%;
    height: auto;
}

main {
    display: flex;
    justify-content: center;
}

.insere {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 320px;
    height: 175px;
    background-color: #DADADA;
    border-radius: 20px;
}

.insereCPF {
    text-align: center;
    font-family: 'Roboto';
    font-weight: bold;
    color: #6E44FF;
}

#cpf {
    height: 30px;
}

.main-btn {
    background-color: #5B3FFF !important;
    font-family: 'Roboto';
    font-style: normal;
    color: #FFFFFF;
    border-radius: 5px;
    margin-top: 25px;
}

.botao {
    display: flex;
    justify-content: center;
}

.img {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 15px;
}